<a [routerLink]="['/vendor']">Back</a>
<br />
<h2 class="page-header">Add New Vendor</h2>
<form [formGroup]="form" (ngSubmit)="createVendor()">
    <div class="form-group">
        <label>First Name</label>
        <input class="form-control" type="text" formControlName="FirstName">
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <input class="form-control" type="text" formControlName="LastName">
    </div>
    <div class="form-group">
        <label>Email Address</label>
        <input class="form-control" type="email" formControlName="EmailAddress">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input class="form-control" type="password" formControlName="Password">
    </div>
    <div class="form-group">
        <label>Restaurant</label>
        <select class="form-control" formControlName="Restaurant">
            <option [value]="restaurant.$key" *ngFor="let restaurant of restaurants">{{restaurant.title}}</option>
        </select>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" formControlName="Status" checked> Status
                </label>
            </div>
        </div>
    </div>
    <input type="submit" value="submit" class="btn btn-success">
</form>