 <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Wedwise CMS</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-left">
            <li ><a [routerLink]="['/']">Home</a></li>
			<!--
            <li ><a [routerLink]="['/listings']">Listings</a></li
			-->			
			<li ><a [routerLink]="['/category']">All Category</a></li>
			<li ><a [routerLink]="['/restaurants']">Locations</a></li>
			
			<!----
			<li ><a [routerLink]="['/items']">Items</a></li>
			<li ><a [routerLink]="['/orders']">Orders</a></li>
			--->
			<!--
			<li ><a [routerLink]="['/add-listing']">Add Listings</a></li>
			-->			
			<li ><a [routerLink]="['/add-category']">Add Category</a></li>
			<li ><a [routerLink]="['/add-restaurant']">Add Locations</a></li>
              <li ><a [routerLink]="['/vendor/add']">Add Vendor</a></li>
              <li ><a [routerLink]="['/vendor']">All Vendors</a></li>
			<!--<li ><a [routerLink]="['/add-item']">Add Item</a></li>-->
          </ul>
		  <ul class="nav navbar-nav navbar-right">
            <li *ngIf="!(authService.authenticated | async)"><a (click)="login()" >Login</a></li>
			<li *ngIf="(authService.authenticated | async)" ><a (click)="logout()" >Logout</a></li>
          </ul>
		  
        </div><!--/.nav-collapse -->
      </div>
    </nav>

	