<a [routerLink]="['/vendor']">Back</a>
<br />
<h2 class="page-header">Edit Locations</h2>
<form (submit)="onEditVendor()">
  <div class="form-group">
    <label>First Name</label>
    <input class="form-control" type="text" [(ngModel)]="firstname" name="firstname" required>
  </div>

  <div class="form-group">
    <label>Last Name</label>
    <input class="form-control" type="text" [(ngModel)]="lastname" name="lastname" required>
  </div>
  <div class="form-group">
    <label>Email</label>
    <input class="form-control" type="email" [(ngModel)]="email" name="email" required>
  </div>

  <div class="form-group">
    <label>Password</label>
    <input class="form-control" type="password" [(ngModel)]="password" name="password" required>
  </div>
  <input type="submit" value="Update" class="btn btn-success">
</form>
