<div *ngIf = "restaurant">

	<a [routerLink] = "['/restaurants']">Go back </a>
	<br>
	<h2 class ="page header">{{restaurant.title}} <small>{{ restaurant.info }}</small></h2>
	<div class = "row">
		<div class = "col-md-4">
			<img style="width:100%" class="thumbnail" src="{{imageUrl}}">
		
		</div>
		
		<div class = "col-md-8">
			<ul class ="list-group">
				<li class = "list-group-item">Description: {{restaurant.description}}</li>
				<li class = "list-group-item">Image: {{restaurant.image}}</li>
				<li class = "list-group-item">Address: {{restaurant.address}}</li>
				<li class = "list-group-item">Option: {{restaurant.option}}</li>
				<li class = "list-group-item">Phonenumber: {{restaurant.phonenumber}}</li>							
			</ul>		
		</div>			
		<a class = "btn btn-default" [routerLink] = "['/edit-restaurant/'+restaurant.$key]">Edit</a>
		<a (click)="onRestaurantDelete()" class = "btn btn-danger" >Delete</a>
	</div>

</div>